<!DOCTYPE html>
<html ng-app="sample">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular JS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="test.js"></script>
</head>

<body ng-controller="myctrl" >
    <div>
        
            <div class="col-span-3" style="color: rgb(0, 0, 0);  border-radius: 30px;">
                <h2>Rows to Display: <input type="number" step="1" min="0" max="16" ng-model="rowlimit" /><br><br>
                    Search: <input type="text" placeholder="Global Search" ng-model="search"><br><br>
                    Filter Salary: <input type="text" placeholder="Salary filter in rupees" ng-model="salfil"></h2>

            </div>
            <center>
            <table cellpadding="6" cellspacing="3" border="5"
                style="background-color:lightyellow; border-color: violet;">
                <tr style="background-color: rgb(27, 79, 175); color: cornsilk; ">
                    <th cellspacing="1">ID
                        <br>
                        <input type="text" ng-model="search.ID" placeholder="Search Id...">
                    </th>
                    <th>Name
                        <br>
                        <input type="text" ng-model="search.Name" placeholder="Search Name...">
                    </th>
                    <th>Designation
                        <br>
                        <input type="text" ng-model="search.Designation" placeholder="Search Designation...">
                    </th>
                    <th>Total Posts
                        <br>
                        <input type="text" ng-model="search.Totalposts" placeholder="No. of Posts...">
                    </th>
                    <th>Address
                        <br>
                        <input type="text" ng-model="search.Address" placeholder="Search Address...">
                    </th>
                    <th>Phone
                        <br>
                        <input type="text" ng-model="search.Phone" placeholder="Search Phone number...">
                    </th>
                    <th>Salary In Dollars
                        <br>
                        <input type="text" ng-model="search.Salary" placeholder="Search Salary...">
                    </th>
                    <th>Salary In Rupees
                        <br>
                        <input type="text" ng-model="search.Salary" placeholder="Search Salary...">
                    </th>
                </tr>
                <tr ng-repeat="item in entry|filter:search|orderBy:'ID'|limitTo:rowlimit |salaryGreaterThan:salfil"
                    style="color: rgb(0, 0, 0) ; background-color:rgb(255, 255, 255); text-align: center;">
                    <td>{{item.ID}}</td>
                    <td>{{item.Name|uppercase}}</td>
                    <td>{{item.Designation|toUpperCase}}</td>
                    <td>{{item.Totalposts}}</td>
                    <td>{{item.Address|lowercase}}</td>
                    <td>{{item.Phone}}</td>
                    <td>{{item.Salary|americanConvertion |currency}}</td>
                    <td>Rs. {{item.Salary}}</td>
                </tr>
            </table>
        </center>
    </div>
</body>

</html>